---
---

<button class="rectangular-button"><a href="productpage">Add to basket</a></button>

<style>
  .rectangular-button {
    background-color: var(--background-color);
    color: var(--deep-orange);
    border: 1px solid var(--deep-orange);
    padding: 12px 24px;
    border-radius: 9999px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }
  .rectangular-button:hover {
    background-color: var(--deep-orange);
    color: var(--background-color);
    cursor: pointer;
  }
  .rectangular-button a {
    text-decoration: none;
    font-family: "georgia";
    color: var(--deep-orange);
  }
  .rectangular-button a:hover {
    color: var(--background-color);
  }
</style>