---
import Image from "astro/components/Image.astro";
import Button from "./Button.astro";
const { title, description, price, image } = Astro.props;
---

<div class="product_element">
  <img src={`img/${image}`} alt="" />
  <h3>{title}</h3>
  <p>{price}</p>
  <Button />
</div>

<style>
  .product_element {
    margin: 1rem;
    text-align: left;
  }
  
  img {
    width: 300px; /* set a fixed width */
    height: 300px; /* set a fixed height */
    object-fit: cover; /* preserve aspect ratio and fill container */
  }
</style>
