<header>
  <div class="logo">
    <a href="/">
      <img
        src="https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png?lossy=1&strip=1&webp=1%22%20class=%22nm-logo%22%20width=%22654%22%20height=%2248%22%20alt=%22omada.wine%22%20srcset=%22https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png?size=244x18&lossy=1&strip=1&webp=1%20244w,%20https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png?lossy=1&strip=1&webp=1%20300w,%20https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_-350x26.png?lossy=1&strip=1&webp=1%20350w,%20https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png?size=488x36&lossy=1&strip=1&webp=1%20488w,%20https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png"
        alt="Logo"
      />
    </a>
  </div>
  <nav>
    <a href="#">Wines</a>
    <a href="#">Winemakers</a>
    <a href="#">Regions</a>
    <a href="#">Subscription</a>
    <a href="#">Boxes</a>
    <a href="#">Social Club</a>
    <a href="#">Gift Card</a>
    <a href="/" class="active">Deli</a>
  </nav>
</header>
<style>
  /* links og header-styling*/
  @font-face {
    font-family: "aviano-sans";
    src: url(../avianosans.woff);
  }
  header .logo {
    text-align: center;
  }
  header {
    justify-content: space-between;
    color: #fff;
    padding: 20px;
  }

  nav {
    display: flex;
    text-transform: uppercase;
    font-family: "aviano-sans";
  }

  nav a {
    color: var(--text-color);
    padding: 10px;
    margin: 10px;
    text-decoration: none;
  }

  nav a:hover {
    color: var(--deep-orange);
    border-radius: 5px;
  }
  .active {
    color: var(--deep-orange);
  }

  img {
    max-width: 100%;
    height: auto;
    width: 300px;
  }
</style>
