<header>
  <div class="logo">
    <a href="/">
      <img
        src="https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png?lossy=1&strip=1&webp=1%22%20class=%22nm-logo%22%20width=%22654%22%20height=%2248%22%20alt=%22omada.wine%22%20srcset=%22https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png?size=244x18&lossy=1&strip=1&webp=1%20244w,%20https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png?lossy=1&strip=1&webp=1%20300w,%20https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_-350x26.png?lossy=1&strip=1&webp=1%20350w,%20https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png?size=488x36&lossy=1&strip=1&webp=1%20488w,%20https://b2104069.smushcdn.com/2104069/wp-content/uploads/2021/03/OMADA.WINE_.png"
        alt="Logo"
      />
    </a>
  </div>
  <div class="flex">
    <nav>
      <a href="#">Wines</a>
      <a href="#">Winemakers</a>
      <a href="#">Regions</a>
      <a href="#">Subscription</a>
      <a href="#">Boxes</a>
      <a href="#">Social Club</a>
      <a href="#">Gift Card</a>
      <a href="/" class="active">Deli</a>
    </nav>
    <div class="icon-container">
      <a href="#"><img src="search.svg" alt="search" /></a>
      <a href="#"><img src="heart.svg" alt="heart" /></a>
      <a href="#"><img src="account.svg" alt="account" /></a>
      <a href="#"><img src="basket.svg" alt="basket" /></a>
    </div>
  </div>
</header>
<style>
  @font-face {
    font-family: "aviano-sans";
    src: url(../avianosans.woff);
  }
  header .logo {
    text-align: center;
    margin: 2%;
  }
  header {
    justify-content: space-between;
    color: #fff;
    border-bottom: 0.5px solid var(--text-color);
  }
  nav {
    display: flex;
    font-family: "aviano-sans";
  }
  .flex {
    display: flex;
  }
  nav a {
    color: var(--text-color);
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 0.8rem;
  }
  nav a:hover {
    color: var(--deep-orange);
    border-radius: 5px;
  }
  .active {
    color: var(--deep-orange);
  }

  img {
    max-width: 100%;
    height: auto;
    width: 300px;
  }
  .icon-container img {
    max-width: 15px;
    margin: 2%;
    padding: 2%;
    text-align: center;
  }
  .icon-container {
    display: flex;
    margin: 1%;
    position: absolute;
    right: 20px;
    justify-content: center;
    gap: 10%;
  }
  .form {
  }
</style>
