---
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Header from "../components/Header.astro";
import Productlayout from "../layouts/Productlayout.astro";
import Product from "../components/Product.astro";
const url = "https://plvxocuuxcvvcyxybbvf.supabase.co/rest/v1/Omada";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsdnhvY3V1eGN2dmN5eHliYnZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE4MTgxOTgsImV4cCI6MTk5NzM5NDE5OH0.CfZdfZ4kMRMeiWvUYstoNXldegEeJg7bA3YyNycUh4A",
  },
};
const response = await fetch(url, options);
const products = await response.json();
console.log(products);
const { title, description, price, image } = Astro.props;
---

<div class="product">
  <h2 class="product_title">{title}</h2>
  <p class="product_description">{description}</p>
  <p class="product_price">{price}</p>
</div>

<script>
  function getData(url, options) {
    fetch(url, options)
      .then((res) => res.json())
      .then(showProduct)
      .catch((err) => console.error(err));
  }

  function showProduct(product) {
    console.log("product", product);
    document.querySelector(".product_title").textContent = product["title"];
    document.querySelector(".product_description").textContent = product["description"];
    document.querySelector(".product_price").textContent = product["price"];
  }

  getData(url, options);
</script>
