---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    background-color: var(--background-color);
  }
  main {
    margin: 2rem;
  }
  :root {
    --deep-orange: #ff5546;
    --light-orange: #dc9814;
    --text-color: #1c2d37;
    --background-color: #fffef2;
    --dark-blue: #3b3d64;
  }
</style>
